# azure-pipelines.yml
trigger:
  branches:
    include:
      - main

pool:
  vmImage: 'ubuntu-latest'

variables:
  NODE_VERSION: '20.x'
  # Add your environment variables here or use Azure Pipeline variable groups
  VITE_APP_PRODUCTION: $(VITE_APP_PRODUCTION)
  VITE_APP_BE_URL: $(VITE_APP_BE_URL)

steps:
  - task: NodeTool@0
    inputs:
      versionSpec: '$(NODE_VERSION)'
    displayName: 'Use Node.js $(NODE_VERSION)'

  - script: |
      corepack enable
      yarn install --frozen-lockfile
    displayName: 'Install dependencies with Yarn'

  - script: |
      yarn build
    displayName: 'Build Vite project'

  # Upload build artifact
  - task: CopyFiles@2
    inputs:
      SourceFolder: 'dist'
      Contents: '**'
      TargetFolder: '$(Build.ArtifactStagingDirectory)'
    displayName: 'Copy build output'

  - task: PublishBuildArtifacts@1
    inputs:
      pathToPublish: '$(Build.ArtifactStagingDirectory)'
      artifactName: 'drop'
      publishLocation: 'Container'
    displayName: 'Publish build artifacts'

  # Deploy to Azure Static Web Apps (SPA)
  - task: AzureStaticWebApp@0
    inputs:
      app_location: '/'                 # root of your app
      output_location: 'dist'           # built output folder
      azure_static_web_apps_api_token: $(AZURE_STATIC_WEB_APPS_API_TOKEN)
    displayName: 'Deploy to Azure Static Web App'
