openapi: 3.1.0
info:
  title: OpenAPI definition
  version: v0
servers:
- url: http://ec2-13-229-206-153.ap-southeast-1.compute.amazonaws.com:8081
  description: Generated server url
paths:
  /api/v1/tutors/me/availability:
    get:
      tags:
      - availability-controller
      operationId: getMyAvailability
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AvailabilitySlotDto"
    put:
      tags:
      - availability-controller
      operationId: updateMyAvailability
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateAvailabilityDto"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Response"
  /api/v1/upload:
    post:
      tags:
      - s-3-controller
      operationId: upload
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
              required:
              - file
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Response"
  /api/v1/materials:
    post:
      tags:
      - material-controller
      operationId: uploadMaterial
      parameters:
      - name: title
        in: query
        required: true
        schema:
          type: string
      - name: subject
        in: query
        required: true
        schema:
          type: string
      - name: description
        in: query
        required: false
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
              required:
              - file
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Response"
  /api/v1/materials/{id}/share:
    post:
      tags:
      - material-controller
      operationId: shareMaterial
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ShareMaterialRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Response"
  /api/v1/departments:
    get:
      tags:
      - department-controller
      operationId: getAllDepartments
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: size
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 20
      - name: direction
        in: query
        required: false
        schema:
          type: string
          default: ASC
          enum:
          - ASC
          - DESC
      - name: attribute
        in: query
        required: false
        schema:
          type: string
          default: createdAt
      - name: name
        in: query
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Response"
    post:
      tags:
      - department-controller
      operationId: createDepartment
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DepartmentDto"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Response"
  /api/v1/bookings:
    post:
      tags:
      - booking-controller
      operationId: createBooking
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateBookingDto"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Response"
  /api/v1/bookings/{id}/reject:
    post:
      tags:
      - booking-controller
      operationId: rejectBooking
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Response"
  /api/v1/bookings/{id}/confirm:
    post:
      tags:
      - booking-controller
      operationId: confirmBooking
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Response"
  /api/v1/bookings/{id}/cancel:
    post:
      tags:
      - booking-controller
      operationId: cancelBooking
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Response"
  /api/v1/auth/register:
    post:
      tags:
      - auth-controller
      operationId: registerUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Response"
  /api/v1/auth/login:
    post:
      tags:
      - auth-controller
      operationId: login
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Response"
  /api/v1/tutors:
    get:
      tags:
      - tutor-controller
      operationId: getAllTutors
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: size
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 10
      - name: direction
        in: query
        required: false
        schema:
          type: string
          default: DESC
          enum:
          - ASC
          - DESC
      - name: attribute
        in: query
        required: false
        schema:
          type: string
          default: id
      - name: name
        in: query
        required: false
        schema:
          type: string
      - name: department
        in: query
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Response"
  /api/v1/tutors/{tutorId}:
    get:
      tags:
      - tutor-controller
      operationId: getTutorById
      parameters:
      - name: tutorId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Response"
  /api/v1/tutors/{tutorId}/availability:
    get:
      tags:
      - availability-controller
      operationId: getTutorAvailableSlots
      parameters:
      - name: tutorId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Response"
  /api/v1/students/dashboard:
    get:
      tags:
      - student-controller
      operationId: getStudentDashboard
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Response"
  /api/v1/materials/{id}/download:
    get:
      tags:
      - material-controller
      operationId: downloadMaterial
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: string
                format: byte
  /api/v1/materials/tutor/me:
    get:
      tags:
      - material-controller
      operationId: getMyUploadedMaterials
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Response"
  /api/v1/materials/student/me:
    get:
      tags:
      - material-controller
      operationId: getSharedMaterials
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Response"
  /api/v1/download:
    get:
      tags:
      - s-3-controller
      operationId: download
      parameters:
      - name: folder
        in: query
        required: true
        schema:
          type: string
      - name: name
        in: query
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Response"
  /api/v1/departments/{departmentId}:
    get:
      tags:
      - department-controller
      operationId: getDepartmentById
      parameters:
      - name: departmentId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Response"
  /api/v1/bookings/{id}:
    get:
      tags:
      - booking-controller
      operationId: getBookingById
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Response"
  /api/v1/bookings/me:
    get:
      tags:
      - booking-controller
      operationId: getMyBookings
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: size
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 10
      - name: direction
        in: query
        required: false
        schema:
          type: string
          default: DESC
          enum:
          - ASC
          - DESC
      - name: attribute
        in: query
        required: false
        schema:
          type: string
          default: createdAt
      - name: status
        in: query
        required: false
        schema:
          type: string
          enum:
          - PENDING
          - CONFIRMED
          - REJECTED
          - COMPLETED
          - CANCELED
      - name: subjectName
        in: query
        required: false
        schema:
          type: string
      - name: bookingType
        in: query
        required: false
        schema:
          type: string
          enum:
          - IN_PERSON
          - ONLINE
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Response"
  /api/v1/auth/me:
    get:
      tags:
      - auth-controller
      operationId: getMyInfo
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Response"
components:
  schemas:
    TimeSlot:
      type: object
      properties:
        startTime:
          type: string
          format: date-time
        endTime:
          type: string
          format: date-time
      required:
      - endTime
      - startTime
    UpdateAvailabilityDto:
      type: object
      properties:
        slots:
          type: array
          items:
            $ref: "#/components/schemas/TimeSlot"
          minItems: 1
      required:
      - slots
    PagedResult:
      type: object
      properties:
        pageNumber:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
        totalElements:
          type: integer
          format: int64
        totalPages:
          type: integer
          format: int32
    Response:
      type: object
      properties:
        serverDateTime:
          type: string
        status:
          type: integer
          format: int32
        code:
          type: integer
          format: int32
        message:
          type: string
        exception:
          type: string
        traceId:
          type: string
        data: {}
        pagedResult:
          $ref: "#/components/schemas/PagedResult"
    ShareMaterialRequest:
      type: object
      properties:
        studentIds:
          type: array
          items:
            type: integer
            format: int64
    DepartmentDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
    CreateBookingDto:
      type: object
      properties:
        slotId:
          type: integer
          format: int64
        subject:
          type: string
          minLength: 1
        type:
          type: string
          enum:
          - IN_PERSON
          - ONLINE
        locationOrLink:
          type: string
          minLength: 1
        studentNotes:
          type: string
      required:
      - locationOrLink
      - slotId
      - subject
      - type
    RegisterRequest:
      type: object
      properties:
        username:
          type: string
          minLength: 1
          pattern: "^[a-zA-Z0-9_]{3,20}$"
        password:
          type: string
          minLength: 1
        email:
          type: string
      required:
      - password
      - username
    LoginRequest:
      type: object
      properties:
        username:
          type: string
          minLength: 1
        password:
          type: string
          minLength: 1
      required:
      - password
      - username
    AvailabilitySlotDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
        startTime:
          type: string
          format: date-time
        endTime:
          type: string
          format: date-time
        status:
          type: string
          enum:
          - AVAILABLE
          - BOOKED
